/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 20px;
}
.topbar li a{
  float: right;
   padding: 0px 80px;
}
/*--------------------------------------------------------------
# nav bar
--------------------------------------------------------------*/
 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
nav li a{
  float: left;
}
nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  color: #00FFF0;
}
nav .active{
  color: #00FFF0;
}
/*--------------------------------------------------------------
# nav bar
--------------------------------------------------------------*/
#navbartoggle{
cursor: pointer;
display: none;
}
#toggle{
    display: none;
}
@media (max-width: 992px){
   nav ul{
        float: left;
        position:   fixed;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        border-right: 1px solid #eee;
        transition: all .5s;
   }
   #navbartoggle{
        display: block;
   }
    #toggle:checked + ul{
        left: 0;
    }
}