/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.socialtop{
    margin: 0;
    padding: 0;
    background: #000;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 20px;
}
.top-social a{
    padding: 30px;
}
#topbar .contact-info i {
  font-style: normal;
  color: #00fff0;
}
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}
#topbar .contact-info i a:hover {
  color: #50d8af;
}


/*--------------------------------------------------------------
# nav bar
--------------------------------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: right;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #00FFF0;
}

.active {
  color: #00FFF0;
}

