/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.socialtop a{
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    height: 20px;
}
.top-social li a{
  float: right;
   padding: 0px 80px;
}
/*--------------------------------------------------------------
# nav bar
--------------------------------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li a{
  float: right;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #00FFF0;
}

.active {
  color: #00FFF0;
}

