.digit button {
        display: none;
}
.digit {
  width: 65%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.digit{
 background:black;
 color: white;
 animation-name: example;
 animation-duration: 5s;
}
@keyframes example {
  from {color: black;}
  to {color: white;}
}