.digit button {
        display: none;
}
.digit {
  width: 65%;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
.digit{
 background:white;
 color: black;
 animation-name: example;
 animation-duration: 5s;
}
@keyframes example {
  from {color: white;}
  to {color: black;}
}
h4{
text-align: center;
}