{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'website/contact.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'website/tuttuscalebody.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <div class="topbar">
      <ul>
          <li><a href="#mail" class="fa fa-contact" style="font-size:20px;color:green;float:left;font-style: normal;cursor: pointer;">curbreality@info.com</a></li>
          <li><a href="#facebook" class="fa fa-facebook" style="font-size:20px;color:#4267B2;cursor: pointer;"></a></li>
          <li><a href="#instagram" class="fa fa-instagram" style="font-size:20px;color:#CF2F0D;cursor: pointer;"></a></li>
          <li><a href="#twitter" class="fa fa-twitter" style="font-size:20px;color:#00acee;cursor: pointer;"></a></li>
          <li><a class=""></a></li><li><a class=""></a></li><li><a class=""></a></li>
      </ul>
  </div><!-- End Top Bar-->
<!--===========nav bar ============== -->
  <nav>
      <div id="center">
        <label for="toggle" id="navbartoggle">&#9776;</label>
        <input type="checkbox" id="toggle"/>
        <ul>
          <li><a class="active" href= "{% url 'index' %}">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'mainframe' %}">TuttuScale</a></li>
          <li style="float:right"><a id="navicon" style='color:blue' href="#.com"> curb<span style="color:#00FFF0;font-weight:bold">reality.com</span></a></li>
        </ul>
     </div>
  </nav><!--End of nav bar -->
{% block content %}

{% endblock %}
<script src="{% static 'website/tuttuscalebody.js' %}"></script>
</body>
</html>