{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ===========header============ -->
<div class="header">
    <h2>Understand the World in a Better Way </h2>
    <img src="{% static 'website/image/stickman1.jpg' %}">
</div>

<div class="elements">
    <h4> </h4>
</div><!--- header ends ---->
<!-- ==================== body column and rows=============== -->

<div class="row">
  <div class="column" style="background-color:white;">
    <h3>The Realistic Time Scale Representation</h3>
    <p>From the beginning of galaxy to the creation of the earth to the current time </p>
  </div>
  <div class="column" style="background-color:white;">
    <h3>History and Major Events</h3>
    <p>Collection of all the major events and history in the world in one single time scale roof</p>
  </div></div>
    <div class="row">
  <div class="column" style="background-color:white;">
    <h3>Population Scale Repracentation</h3>
    <p>The approximate calculation of population species through the flow of time scale </p>
  </div>
  <div class="column" style="background-color:white;">
    <h3>TuttuScale</h3>
    <p>All the above information clustered to form a single human understandable format scale</p>
  </div></div>
  <div id="image2">
  <img src="{% static 'website/image/stickman2.jpg' %}">
  </div>
<!------- row and column end ------>
  <div class="container">
     <a href="mainframe.html"><button class="btn">Lets Goooo...</button></a>
  </div>
{% endblock %}
