{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'website/mystyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <div class="socialtop">
      <div class="top-social">
          <ul>
            <li><b href="#"><i class="fa fa-contact" style="font-size:20px;color:#4267B2;float:left;font-style: normal;">curbreality@info.com</i></b></li>
            <li><b href="#"><i class="fa fa-facebook" style="font-size:20px;color:#4267B2;"></i></b></li>
            <li><b href="#"><i class="fa fa-instagram" style="font-size:20px;color:#CF2F0D;"></i></b></li>
            <li><b href="#"><i class="fa fa-twitter" style="font-size:20px;color:#00acee;"></i></b></li>
              <li><b href="#"><i class=""></i></b></li>
               <li><b href="#"><i class=""></i></b></li>
              <li><b href="#"><i class=""></i></b></li>
          </ul>
      </div>
  </div>
    </div><!-- End Top Bar-->
<!--===========nav bar ============== -->
<ul>
    <li><a href="#home">Condact</a></li>
    <li><a href="#TuttuScale">TuttuScale</a></li>
    <li><a href="#contact">About</a></li>
    <li><a class="active" href="#about">Home</a></li>
    <li style="float:left"><a style='color:blue' href="#about"> curb<span style="color:#00FFF0;font-weight:bold">reality.com</span></a></li>
</ul>
<!-- ===========end nav bar============ -->
</body>
</html>