{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'website/mystyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- ======= Top Bar ======= -->
  <div class="socialtop">
      <div class="top-social">
          <ul>
            <li><a href="#mail" class="fa fa-contact" style="font-size:20px;color:green;float:left;font-style: normal;cursor: pointer;">curbreality@info.com</a></li>
            <li><a href="#facebook" class="fa fa-facebook" style="font-size:20px;color:#4267B2;cursor: pointer;"></a></li>
            <li><a href="#instagram" class="fa fa-instagram" style="font-size:20px;color:#CF2F0D;cursor: pointer;"></a></li>
            <li><a href="#twitter" class="fa fa-twitter" style="font-size:20px;color:#00acee;cursor: pointer;"></a></li>
              <li><a class=""></a></li><li><a class=""></a></li><li><a class=""></a></li>
          </ul>
      </div>
  </div>
    </div><!-- End Top Bar-->
<!--===========nav bar ============== -->
<ul>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#TuttuScale">TuttuScale</a></li>
    <li><a href="#About">About</a></li>
    <li><a class="active" href="#Home">Home</a></li>
    <li style="float:left"><a style='color:blue' href="#.com"> curb<span style="color:#00FFF0;font-weight:bold">reality.com</span></a></li>
</ul>
<!-- ===========end nav bar============ -->
</body>
</html>