{% extends 'base.html' %}

{% block content %}
<div class = 'digit'>
    <script>i=2</script>
    <p id="0">1000</p>
    <button id="b1" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="1">1000</p>
    <button id="b2" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="2">1000</p>
    <button id="b3" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="3">1000</p>
    <button id="b4" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="4">1000</p>
    <button id="b5" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="5">1000</p>
    <button id="b6" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="6">1000</p>
    <button id="b7" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="7">1000</p>
    <button id="b8" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="8">1000</p>
    <button id="b9" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>
    <p id="9">1000</p>
    <button id="b10" type="button" onclick='document.getElementById(i).style.color = "blue";'>Click Me!</button>

</div>
{% endblock %}