{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="mainframe">
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_0"/><label class="btn1" for="btnControl_0"><i>1000</i><dev class="wrapper">1000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_1"/><label class="btn1" for="btnControl_1"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_2"/><label class="btn1" for="btnControl_2"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_3"/><label class="btn1" for="btnControl_3"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_4"/><label class="btn1" for="btnControl_4"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_5"/><label class="btn1" for="btnControl_5"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_6"/><label class="btn1" for="btnControl_6"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_7"/><label class="btn1" for="btnControl_7"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_8"/><label class="btn1" for="btnControl_8"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_9"/><label class="btn1" for="btnControl_9"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_10"/><label class="btn1" for="btnControl_10"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_11"/><label class="btn1" for="btnControl_11"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_12"/><label class="btn1" for="btnControl_12"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_13"/><label class="btn1" for="btnControl_13"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_14"/><label class="btn1" for="btnControl_14"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_15"/><label class="btn1" for="btnControl_15"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_16"/><label class="btn1" for="btnControl_16"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_17"/><label class="btn1" for="btnControl_17"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_18"/><label class="btn1" for="btnControl_18"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
<dev class="icon_position">
<input type="checkbox" class="hidebutton" id="btnControl_19"/><label class="btn1" for="btnControl_19"><i>1000</i><dev class="wrapper">2000</dev></label>
</dev>
</body>
{% endblock %}